/* Colors */

$scissors: linear-gradient(hsl(39, 89%, 49%) to hsl(40, 84%, 53%));
$paper: linear-gradient(hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
$rock: linear-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
$lizard: linear-gradient(hsl(261, 73%, 60%) to hsl(261, 72%, 63%));
$cyan: linear-gradient(hsl(189, 59%, 53%) to hsl(189, 58%, 57%));

$text-dark: hst(229, 25%, 31%);
$text-score: hsl(229, 64%, 31%);
$header: hsl(217, 16%, 45%);

$radial: radial-gradient(hsl(214, 47%, 23%) to hsl(237, 49%, 15%));
